IoTFootball_NodeREDFlow.json
[{"id":"bf57280f.8ee418","type":"tab","label":"IoT Football","disabled":true,"info":""},{"id":"c05f589b.c66e18","type":"switch","z":"bf57280f.8ee418","name":"Acceleration Topic","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"accelerometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["19a2a7db.e18388"]]},{"id":"95cda600.b22aa8","type":"sensorTag","z":"bf57280f.8ee418","name":"","topic":"","uuid":"98072d315f02","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":false,"x":80,"y":20,"wires":[["c05f589b.c66e18","1800ade0.b54082"]]},{"id":"6e505440.8b4abc","type":"switch","z":"bf57280f.8ee418","name":"Determine Sense Hat Color","property":"payload.d.acceleration","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"1.5","v2t":"num"},{"t":"btwn","v":"1.5","vt":"num","v2":"3","v2t":"num"},{"t":"gte","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":260,"wires":[["341c7914.5cad06"],["a3000819.f40d98"],["6295afc6.0d3bc"],["1fc7ecbd.ab3c63"]]},{"id":"154fd843.efcf78","type":"rpi-sensehat out","z":"bf57280f.8ee418","name":"Sense HAT Red","x":1000,"y":120,"wires":[]},{"id":"341c7914.5cad06","type":"change","z":"bf57280f.8ee418","name":"Turn Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":140,"wires":[["154fd843.efcf78","811d65b1.a06fe8"]]},{"id":"a3000819.f40d98","type":"change","z":"bf57280f.8ee418","name":"Turn Yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":240,"wires":[["626dd307.68d82c"]]},{"id":"6295afc6.0d3bc","type":"change","z":"bf57280f.8ee418","name":"Turn Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":300,"wires":[["8116c5cd.60a568"]]},{"id":"626dd307.68d82c","type":"rpi-sensehat out","z":"bf57280f.8ee418","name":"Sense HAT Yellow","x":1060,"y":240,"wires":[]},{"id":"8116c5cd.60a568","type":"rpi-sensehat out","z":"bf57280f.8ee418","name":"Sense Hat Green","x":1040,"y":360,"wires":[]},{"id":"305dddbd.693a42","type":"function","z":"bf57280f.8ee418","name":"add timestamp","func":"msg.payload.d.time = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["d2a1537b.9e3de"]]},{"id":"d2a1537b.9e3de","type":"wiotp out","z":"bf57280f.8ee418","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"c0ede3f7.eebd8","deviceType":"gateway","deviceId":"Pi01","event":"event","format":"json","qos":"","name":"Watson IoT","x":730,"y":560,"wires":[]},{"id":"e7dc6782.f494f8","type":"rpi-sensehat out","z":"bf57280f.8ee418","name":"Sense Hat Clear","x":1040,"y":440,"wires":[]},{"id":"1fc7ecbd.ab3c63","type":"change","z":"bf57280f.8ee418","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["e7dc6782.f494f8"]]},{"id":"d03ef68a.94eef8","type":"function","z":"bf57280f.8ee418","name":"Calculate Acceleration","func":"//var temp = parseFloat(msg.payload.ambient);\n//msg.payload = {'d': {'temperature':temp}};\n//return msg;\n\nvar x = Math.pow(msg.payload.x,2);\nvar y = Math.pow(msg.payload.y,2);\n//var z = Math.pow(msg.payload.z,2);\nvar accel = Math.sqrt(y);\nmsg.payload = {'d': {'acceleration':accel,'x':x,'y':y}};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["6e505440.8b4abc","23baa645.47842a","305dddbd.693a42"]]},{"id":"23baa645.47842a","type":"debug","z":"bf57280f.8ee418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":80,"wires":[]},{"id":"19a2a7db.e18388","type":"delay","z":"bf57280f.8ee418","name":"Limit Incoming Messages","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":160,"wires":[["d03ef68a.94eef8"]]},{"id":"1800ade0.b54082","type":"debug","z":"bf57280f.8ee418","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":110,"y":220,"wires":[]},{"id":"811d65b1.a06fe8","type":"debug","z":"bf57280f.8ee418","name":"clear","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":60,"wires":[]},{"id":"c0ede3f7.eebd8","type":"wiotp-credentials","z":"","name":"","org":"ryd0y9","serverName":"ryd0y9.messaging.internetofthings.ibmcloud.com","devType":"gateway","devId":"Pi01","keepalive":"60","cleansession":true,"tls":"","usetls":false}]